.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.text-box {
    padding: 15px 25px;
    background-color: rgba(23, 23, 23, 0.763);
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(127, 127, 127, 0.748);
    font-size: 1.5em;
    text-align: center;
}

body {
    font-family: "Helvetica", monospace;
    color: rgba(238, 244, 228, 0.968);
    background-color: rgb(45, 45, 45);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
  
