@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100..300&display=swap");

.center {
    display: flex;
    flex-direction: column; /* makes things stack vertically */
    justify-content: center; /* move things to middle of screen */
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

* {
    transition: 0.3s;
    hyphens: auto;
}

.text-bio {
    font-weight: 200;
    padding: 5px; 
    font-size: 25px;
}

.text-name {
    padding-bottom: 50px;
    font-weight: 100;
    font-size: 60px;
}

.social-icon {
    padding: 5px;
    margin: 1em 0;
    color:rgba(238, 244, 228, 0.968);
    text-decoration: none;
}

/* applies .light-mode to .social-icon, overriding old color: property */
body.light-mode .social-icon {
    color: rgb(45, 45, 45);
}

.link-table {
    color: rgba(23, 23, 23, 0.763);
    box-shadow: 0 4px 4px rgba(127, 127, 127, 0.744);
    border-radius: 5px;
}

body.hidden-button {
    border: none;
    background-color: var(background-color);
}

body { 
    /* default to dark mode on load */
    font-family: "Exo 2", sans-serif;
    color: rgba(238, 244, 228, 0.968);
    background-color: rgb(45, 45, 45);
    font-optical-sizing: auto;
    font-style: normal;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.light-mode {
    background-color: rgba(224, 222, 222, 0.968);
    color: rgb(45, 45, 45);
}