@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100..300&display=swap");

body {
    font-family: "Exo 2", sans-serif;
    color: rgba(238, 244, 228, 0.968);
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(45, 45, 45);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

a {
    padding: 5px;
    color: rgba(238, 244, 228, 0.968);
    text-decoration: none;
}
